*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.border{
    border: solid 2px black;
}
ul{
    list-style: none;
}
ul li a{
    padding: 0 0 0 2rem;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #000;
}
.mx{
    width: 90%;
    margin: auto;
}

.flex{
    display: flex;
}
main{
    width: 100%;
    height: 100vh;
}
#header{
    width: 100%;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}
.menu{
    display: none;
}
/* End navigation */

.hero_sec{
    height: 100vh;
    width: 100%;
    background: url("../images/hero_img.png")no-repeat center center/cover;
}
.hero_txt{
    width: 30%;
    height: 40vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 5%;
    position: relative;
    top: 15%;
    border-radius: 0 60px 60px 0;
}

h1{
    font-size: 40px;
    font-weight: 700;
    /* line-height: 60px; */
}
p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

h3{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    

}


#sec_2{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.sec_2{
    height: 50vh;
    align-items: center;
    justify-content: center;
    background: #F2F0F2;
    border-radius: 60px;
}
.sec_2_img{
    width: 50%;
    height:100% ;
    display: grid;
    grid-template-areas:"a b"
                        "c d" ;
    
}
.sec_2_img1{
    width: 100%;
    height: 100%;
    background: url("../images/image\ 13.png")no-repeat center center/cover;
    border-radius: 60px 0 0 0;
}
.sec_2_img2{
    width: 100%;
    height: 100%;
    background: url("../images/image\ 14.png")no-repeat center center/cover;
}
.sec_2_img3{
    width: 100%;
    height: 100%;
    background: url("../images/image\ 15.png")no-repeat center center/cover;
    border-radius: 0 0 0 60px;
}
.sec_2_img4{
    width: 100%;
    height: 100%;
    background: url("../images/image\ 15.png")no-repeat center center/cover;
   
}
.sec_2_txt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}
/* end section 2 */

#sec_3{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec_3{
    height: 100%;
}
.sec_3_txt{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    height: 40%;
}
.sec_3_modal{
    height: 50%;
    justify-content: space-between;
    margin-top: 60px;
}
.sec_3_modal1, .sec_3_modal2, .sec_3_modal3, .sec_3_modal4{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E2F1E8;
    border-radius: 30px;
    padding: 0px 30px;
}

/* End section 3 */

#sec_4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sec_4{
    min-height: 80%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec_4_txt{
 width: 100%;
 text-align: center;
 min-height: 20%;
}
.sec_4_card{
    
    min-height: 40%;
    width: 100%;
    justify-content: space-between;
}
.sec_4_card1{
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
   
    /* background: pink; */
}
.sec_4_card1 p{
    height: 10%;
    width: 100%;
    /* font-size: 0.9rem; */
    
}
.sec_4_card1 img{
    height: 80%;
    width: 90%;
    
    padding-top: 20%;
}
/* .sec_4_card_img{
    height: 100%;
    width: 100%;
} */
.sec_4_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}
.btn{
    padding: 12px 40px;
    background: #064749;
    color: #fff;
    border-radius: 40px;
}