@media screen and (min-width: 600px) and (max-width: 900px){
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.hero_txt{
    width: 60%;
    height: 40vh;
}
#header{
    
}
#sec_2{
    height: 120vh;
}
.sec_2{
        display: block;
        width: 90%;
    }
    .sec_2_img{
        margin-bottom: 2rem;
        width: 100%;
    }
    .sec_2_txt{
        display:block;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .sec_2_img2{
        border-radius: 0 60px 0 0;
    }
    .sec_2_img4{
        border-radius: 0 0 60px 0;
    }

#sec_3{
        width: 100%;
        height: auto;
        padding: 2rem 0;
    }
    .sec_3{
        min-height: 80%;
    }        
.sec_3_modal{
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-areas:"1 2"
                        "3 4" ;
    gap: 20px;
}
.sec_3_modal1, .sec_3_modal2, .sec_3_modal3, .sec_3_modal4{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E2F1E8;
    border-radius: 30px;
    padding: 0 30px;
    margin-bottom: 20px;
}
#sec_4{
    height: auto;
}
.sec_4{

}
.sec_4_card{
    display: grid;
    grid-template-areas:"c1 c2 c3"
                        "c4 c5 c6" ;
    padding: 4rem 0;
}
.sec_4_card1 p{
    padding-bottom: .2rem;

}
.sec_4_card1 img{
    padding-top: .5rem;

}
}